h3 Lista de Productos
    if productosExisten
        table.table.table-striped
            thead
                tr
                    th Producto
                    th Precio
                    th
            tbody
                each producto in productos
                    tr
                        td= producto.title
                        td= producto.price
                        td
                            img(src=producto.thumbnail alt='' width='50px')
    else
    h4= error