h3 Introducir Características del Producto
    form#form-producto(action='/api/productos/guardar' method='POST')
        .form-group
            label(for='title') Nombre del Producto
            input#title.form-control(type='text' name='title')
            label(for='price') Precio del Producto
            input#price.form-control(type='number' name='price')
            label(for='thumbnail') URL de Imagen del Producto
            input#thumbnail.form-control(type='url' name='thumbnail')
            button.btn.btn-primary(type='submit') Guardar Producto